<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qk.chat.server.mapper.ImUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qk.chat.server.domain.entity.ImUserInfo">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="nick_name" property="nickName" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="gender" property="gender" />
        <result column="avatar" property="avatar" />
        <result column="personal_signature" property="personalSignature" />
        <result column="birthday" property="birthday" />
        <result column="mobile" property="mobile" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="activate_status" property="activateStatus" />
        <result column="activate_time" property="activateTime" />
        <result column="channel" property="channel" />
        <result column="secret_mobile" property="secretMobile" />
        <result column="device" property="device" />
        <result column="device_id" property="deviceId" />
        <result column="device_model" property="deviceModel" />
        <result column="ip" property="ip" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="friend_allow_type" property="friendAllowType" />
        <result column="forbidden_flag" property="forbiddenFlag" />
        <result column="user_type" property="userType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, nick_name, email, password, gender, avatar, personal_signature, birthday, mobile, last_login_time, activate, activate_time, channel, secret_mobile, device, device_id, device_model, ip, status, gmt_create, gmt_modified
    </sql>

    <select id="getUserBaseInfo" resultMap="BaseResultMap">
        SELECT * FROM im_user_info WHERE email = #{email}
    </select>
    
    <select id="getUserInfoById" resultMap="BaseResultMap">
        SELECT * FROM im_user_info WHERE user_id = #{userId}
    </select>
</mapper>
